{% extends 'comp/base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="box">
		{% if langue == 'fr' %}
                    <h3>Services</h3>
	            <li>Réflexion et mise en place d'une stratégie de test pour un nouveau composant logiciel</li>
	            <li>Intégration de nouvelles versions logiciels</li>
	            <li>Rédaction d'un plan de test à partir de la spécification</li>
	            <li>Conception des tests</li>
	            <li>Etablir une matrice de compliance</li>
	            <li>Passage de tests</li>
	            <li>Création et suivi de faits techniques</li>
	            <li>Automatisation de tests</li>
                    <li>Réalisation de tests de non-régression</li>
                    <li>Gestion du suivi de l'ensemble de ces tâches</li>
	            <li>Tests d'acceptation</li>
		    <li>Etude et optimisation des processus de mise en production</li>
	            <li>Développement web</li>
		{% elif langue == 'en' %}
                    <h3>Services</h3>
                    <li>Reflexion and setting of a test strategy for a new software</li>
                    <li>Integration for new software versions</li>
                    <li>Reraction of testing plan from specifications</li>
                    <li>Technical test conception</li>
                    <li>Compliance atrice elaboration</li>
                    <li>Tests execution</li>
                    <li>Creation and monitoring of technical facts</li>
                    <li>Automatisation of tests</li>
                    <li>Implementation and execution non-régression</li>
                    <li>Global test campaign monitoring</li>
                    <li>Acceptance tests</li>
                    <li>Web development</li>

		{% endif %}

            </div>
        </div>
   </div>
    <div class="container">
        <div class="row">
            <div class="box">

		{% if langue == 'fr' %}

                     <h3>Ma prestation</h3>
		     <p style="text-align:justify">Je propose mes services aux entreprises qui développent des outils informatiques et passer en revue le produit avant qu’il ne soit passé en production. L’objectif est de leur permettre de mettre à disposition un produit de meilleure qualité et d'optimiser au maximum le temps de test ainsi que celui de la validation du produit. L'optimisation du temps passe par de l'automatisation des tests et des process. Je suis en mesure de proposer un service de mise en place des campagnes de tests avec leur automatisation, l'étude pour optimiser des processus de mise en production.</p>

                    <h3>Le test logiciel</h3>
                    <img class="img-responsive img-border img-left" src='../../static/comp/img/ISTQB.jpeg' />
                    <p style="text-align:justify">Les systèmes logiciels font partie intégrante de la vie quotidienne, depuis les applications commerciales (ex : les services bancaires) jusqu'aux produits pour les consommateurs (ex : voitures). La plupart des gens ont eu une expérience avec un logiciel qui n'a pas fonctionné comme prévu. Un logiciel qui ne fonctionne pas correctement peut entraîner de nombreux problèmes, y compris la perte d'argent, de temps ou entacher la réputation de l'entreprise. Elle peut même entraîner des blessures qui peuvent être mortelles. Les tests logiciels sont un moyen d'évaluer la qualité de celui-ci et de réduire son risque de défaillance en cours de fonctionnement.</p>
                    <h3>DevOps</h3>
                    <p style="text-align:justify">Aujourd’hui la méthodologie agile s’est énormément développée et apporte un nouveau mode de fonctionnement dans l’évolution des softwares. Les développements se font de façon itérative et le déploiement d’une version logiciel se fait à chaque itération permettant d’apporter des évolutions constantes ainsi que de corriger rapidement un bug. Ce mode de fonctionnement apparait sous l’acronyme CI/CD (intégration continue/développement continu). Ce mode de fonctionnement a fait émerger un nouveau métier, celui de DevOps. Il consiste à :</p>
                    <ul style="list-style:none">
		                    <li><p>-être la passerelle entre les équipes de développement et les équipes de déploiement</p></li>
		                      <li><p>-être le garant de la conformité du produit qui transite</p></li>
		                        <li><P>-pouvoir tester le produit rapidement afin d'en garantir la qualité (pour cela l’automatisation de process est indispensable)</p></li>
                    </ul>
		    <p>Les connaissances des métiers de développement et de mise en production sont des éléments nécessaires. Ce métier est détaillé dans l’ouvrage « Découvrir DevOps » (ISBN 978-2-10-077906-2)</p>


		{% elif langue == 'en' %}

                     <h3>My services</h3>
		     <p style="text-align:justify">I offer my services and skills to companies that develop IT tools and review the product before it goes into production. The objective is to enable these companies to provide a better quality product and to optimize the testing and validation time of the product as much as possible. Optimizing test time involves automating tests and processes. I am able to offer a service for setting up test campaigns, automation of tests, automation of production deployment</p>


		    <h3>Software testing</h3>
                    <img class="img-responsive img-border img-left" src='../../static/comp/img/ISTQB.jpeg' />
                    <p style="text-align:justify">Software systems are part of everyday life, from commercial applications (ex: banking services) to consuming products (ex: cars). Most people have had experience with program that hasn't worked as expected. Software that is not working properly can cause many problems, including lost of money, time or damage the company's reputation, it can even lead to injuries. Software test is a solution to evaluate the quality of a product and reduce the risk of failing.</p>
		    </br>
		    <h3>DevOps</h3>
		    <p style="text-align:justify">Today the agile methodology has developed enormously and brings a new mode of operation in the evolution of software. The developments are done iteratively and the deployment is done at each iteration of a program version, this constant changes can bring constant evolutions and a bug can be quickly corrected. This operating mode appears under the acronym CI/CD (Continus Integration/Continus development). This operating mode has led to the emergence of a new profession, DEVOPS, this job consists of being the bridge between the development teams ans the deployment teams, being the guarantor of the of the conformity of the product. This requires being able to test the product quickly to guarantee its quality, for this reason, automation process is is essential. Knowledge of development and deployment are necessary for this job. This profession is detailed in the book "« Découvrir DevOps » (ISBN 978-2-10-077906-2</p>


		{% endif %}

	    </div>
        </div>
   </div>


{% endblock %}
