<script>



        function select_exp(id){
	var select_all_details = document.getElementsByClassName("exp_detail")
	for (var i = 0; i < select_all_details.length; i++) {
       		select_all_details[i].className="exp_detail exp_hidden";
        }
	var selected_detail = document.getElementById("exp_detail_" + id);
        selected_detail.className="exp_detail_affiche exp_detail";
	var selected_detail = document.getElementById("exp_detail_text_" + id);
        selected_detail.className="exp_detail_affiche exp_detail";
        }




</script>


<style>

.exp_item{
        cursor: pointer;
        padding-bottom: 10px;

}

.exp_item:hover{
        text-decoration: underline;

}
.exp_hidden{
max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}


.exp_detail_affiche{
	max-height: 500px;
	transition: max-height 0.25s ease-in;
	transition-delay: 2s;
}




</style>










{% for exp in experiences %}
    <center>
        <h4>
	<span class="exp_item" onClick="select_exp({{ exp.id }})">
            {% if langue == 'fr' %}
                {{ exp.intitule }} -- {{ exp.client }}
	    {% elif langue == 'en' %}
	        {{ exp.intitule_en }} -- {{ exp.client }}
	    {% endif %}
        </span>
	</h4>
    </center>

     <br>
     <center>
	 {% if langue == 'fr' %}
             Du :<time>{{ exp.debut }}</time> au : 
	     <time>{{ exp.fin }}</time>
	 {% elif langue == 'en' %}
             From :<time>{{ exp.debut }}</time> to :
             <time>{{ exp.fin }}</time>
	 {% endif %}
	 <br><br>
    </center>
    <div class="exp_detail exp_hidden" id="exp_detail_{{ exp.id }}">
	    <p style="text-align:center;"><img  src='../../static/comp/img/{{exp.logo_client}}' /></p>
	    {% if langue == 'fr' %}
	    	<pre class="exp_detail exp_hidden" id="exp_detail_text_{{ exp.id }}">{{ exp.detail }}</pre>
	    {% elif langue == 'en' %}
	    	<pre class="exp_detail exp_hidden" id="exp_detail_text_{{ exp.id }}">{{ exp.detail_en }}</pre>
	    {% endif %}



	    <h4>
    		{% if langue == 'fr' %}
    		    </br>Compétences mises en application:</br></br>
    		{% elif langue == 'en' %}
    		    </br>Useful skills:</br></br>
    		{% endif %}
	    </h4>
        <ul style="list-style:none">
    	{% for comp in exp.comp %}
            <li>
		    <a href="{% url 'competences' %}?compID={{ comp.id }}">
            	{{comp.competence}}
		</a>
	    </li>
    	{% endfor %}
        </ul>
    </div>
{% endfor %}
