<script>
        function select_exp(id){
	var select_all_details = document.getElementsByClassName("exp_detail")
	for (var i = 0; i < select_all_details.length; i++) {
       		select_all_details[i].className="exp_detail exp_hidden";
        }
	var selected_detail = document.getElementById("exp_detail_" + id);
        selected_detail.className="exp_detail_affiche exp_detail";
        }




</script>


<style>

@keyframes detail_annim {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}


.exp_item{
        cursor: pointer;
        padding-bottom: 10px;

}

.exp_item:hover{
        text-decoration: underline;

}
.exp_hidden{
        visibility:hidden;
	position:absolute;

}


.exp_detail_affiche{
	position:relative;
	animation: detail_annim 1000ms;
}




</style>










{% for exp in experiences %}
    <center>
        <h4>
	<span class="exp_item" onClick="select_exp({{ exp.id }})">
            {% if langue == 'fr' %}
                {{ exp.intitule }} -- {{ exp.client }}
	    {% elif langue == 'en' %}
	        {{ exp.intitule_en }} -- {{ exp.client }}
	    {% endif %}
        </span>
	</h4>
    </center>

     <br>
     <center>
	 {% if langue == 'fr' %}
             Du :<time>{{ exp.debut }}</time> au : 
	     <time>{{ exp.fin }}</time>
	 {% elif langue == 'en' %}
             From :<time>{{ exp.debut }}</time> to :
             <time>{{ exp.fin }}</time>
	 {% endif %}
	 <br><br>
    </center>
    <span class="exp_detail exp_hidden" id="exp_detail_{{ exp.id }}">
	    <p style="text-align:center;"><img src='../../static/comp/img/{{exp.logo_client}}' /></p>
	    {% if langue == 'fr' %}
	    	<pre>{{ exp.detail }}</pre>
	    {% elif langue == 'en' %}
	    	<pre>{{ exp.detail_en }}</pre>
	    {% endif %}



	    <h4>
    		{% if langue == 'fr' %}
    		    </br>Compétences mises en application:</br></br>
    		{% elif langue == 'en' %}
    		    </br>Useful skills:</br></br>
    		{% endif %}
	    </h4>
        <ul style="list-style:none">
    	{% for comp in exp.comp %}
            <li>
		<a href="{% url 'competence' comp_id=0 %}">
            	{{comp.competence}}
		</a>
	    </li>
    	{% endfor %}
        </ul>
    </span>
{% endfor %}
